.contact{
    padding-top: 50px;
    background: #F7F7F7;
    padding-bottom: 20px;
}

.contact_box{
    margin: auto;
    margin-bottom: 50px;
    border-bottom: 1px solid #DEDEDE;  
    padding: 20px; 
    width: 25%;
    text-align: center;
    transition: .3s;
}

.contact_box h1{
    font-family: sans-serif;
    color: #2E2E2E;
    font-weight: 500;
    letter-spacing: 2px;
}

.contact_box:hover{
    border-bottom: 1px solid #DD783F;
}

.contactPhotos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.photo_right{
    width: 550px;
}

.photo_left{
    width: 550px;
}

.bootom_link{
    margin: auto;
    margin-bottom: 10px;
    border-bottom: 1px solid #DEDEDE;  
    padding: 20px; 
    width: 25%;
    text-align: center;
    transition: .3s;
}

.gale_link{
    font-size: 30px;
    font-family: sans-serif;
    color: #2E2E2E;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 5px;
    font-weight: 500;
}

.bootom_link:hover{
    border-bottom: 1px solid #DD783F;
}