section {
    padding-top: 10px;
    background: #F7F7F7;
    padding-bottom: 100px;
}

.section_box{ 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* margin-bottom: 100px; */
}

.section_simile_box{
    margin: 10px;
    width: 300px;
    box-shadow: -2px 2px 20px 1px #4443433b,
    2px -2px 20px 1px #4443433b;
    cursor: pointer;
    transition: .5s;
}

.section_simile_box:hover{
    box-shadow: -2px 2px 20px 1px #f88847,
    2px -2px 20px 1px #f88847;
}

.section_simile_box img{
    width: 100%;
    margin-bottom: 10px;
}

.section_simile_box h1{
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.section_simile_box p{
    padding: 5px;
    color: #7A7A7A;
    font-size: 16px;
    margin-bottom: 30px;
}

hr{
    /* margin-bottom: 5px; */
}

.simile{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.smil_photos{
    display: flex;
    align-items: center;

}

.smil_photos img{
    width: 30px;
    margin-right: 10px;
}

.smil_photos h6{
    font-size: 16px;
    font-weight: 400;
    color: #7A7A7A;
    margin-bottom: 8px;
}

.smil_title p{
    margin-bottom: 10px;
}